</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<h3><%= @post.content %></h3>
<p><%= @post.author %></p>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<ul class="pager">
  <li><% unless @post.previous.nil? %>
    <%= link_to 'Prev', post_path(@post.previous) %> 
  <% end %></li>
  <li><%= link_to 'Top', posts_path, method: :get %></li>
  <li><% unless @post.next.nil? %>
    <%= link_to 'Next', post_path(@post.next) %>
  <% end %></li>
</ul>
